<p> All the values are passed here! Make a Form</p>
<p> To edit: Views/post/individulPost</p>

postDate{{postDetail.postDate}}
Image{{postDetail.image}}
sizeOfApartment{{postDetail.sizeOfApartment}}
PetAllowed{{postDetail.petsAllowed}}

<p>Send a message to {{postDetail.user}}</p> 

<form
      action="/private/message/"
      id="message-form"
      method="POST"
    >
<<<<<<< Updated upstream
      <div class="form">
        <label>To:</label>
        {{!-- <input
          id="messageTo"
          name="messageTo"
          type="text"
          value={{postDetail.user}}
            disabled
          placeholder="Enter Message"
        />
        <br /> --}}

        <input type="text" name="messageTo" value={{postDetail.user}} readonly="true"/>
=======
      <div class="message-form">
       
        {{!-- <input type="text" name="receivedBy" value={{postDetail.user}} readonly="true" hidden/> --}}
        {{!-- <input type="text" name="sender" value={{{sender}}} readonly="true" /> --}}
        <input type="text" name="receiver" value={{{postDetail.user}}} readonly="true" hidden />
>>>>>>> Stashed changes

        <label>Send a Message</label>
        <input
          id="message"
          name="message"
          type="text"
          placeholder="Enter Message"
        />
        <br />
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
